#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1 {
    text-align: center;
    color: white;
}
#hero-msg h4 {
    text-align: center;
    color: white;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    grid-column: 1/11;
    grid-row: 4/9;
    height: 725px;
    background-color: #1481BA;
}
body {
    background-color: white;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #1481BA;
}
nav a:hover {
    background-color: #001021;
    color: white;
}
.book, .join {
    background-color: #1481BA;
    color: #001021;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    background-color: #001021;
    color: white;
}
.join:hover {
    background-color: white;
    color: #001021;
}
.msg {
    grid-column: 6/10;
    grid-row: 6/7;
    background-color: #1481BA;
    line-height: 1.5em;
    padding: 35px;
    box-shadow: 5px 5px 10px black;
}
footer {
    background-color: #1481BA;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-title {
    color: #001021;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: #001021;
}
.msg h2 {
    color: #001021;
    font-family: 'Courier New', Courier, monospace;
}
.msg p {
    color: #001021;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: #001021;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    width: 100%;
    border: 10px solid #001021;
    transition: transform .5s;
    box-shadow: 5px 5px 10px black;
}
main section img {
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-around;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-img {
    width: 100%;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px black;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}