@font-face {
    font-family: "Cormorant";
    src: url("/fonts/Cormorant/Cormorant-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Proza Libre";
    src: url("/fonts/Proza_Libre/Proza_Libre/ProzaLibre-Regular.ttf");
}
#content {
   max-width: 1600px; 
   margin: 0 auto;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #157145;
}
body {
    background-color: #d1faff;
    font-family: "Cormorant";
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    padding-bottom: 5px;
}
#logo {
    width: 80px;
    height: 80px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #98d1e5;
    text-decoration: none;
    padding: 35px;
    display: inline-block;
}
nav a:hover {
    background-color: #d1faff;
    color: #157145;
}
#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}
.home_title {
    color: #157145;
    font-family: "Proza Libre";
    font-size: 2em;
    text-align: center;
    margin: 0;
}
#title h3 {
    text-align: center;
    color: #157145;
    font-family: "Proza Libre";
    font-size: 0.9em;
    margin: 0;
}
.page {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}
.page h2 {
    text-align: center;
    color: #157145;
    font-family: "Proza Libre";
    font-size: 1.5em;
    margin-bottom: 40px;
    grid-column: 1;
}
.page section {
    margin-bottom: 40px;
}
.page section a {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 30px;
    border-radius: 15px;
    padding: 20px;
    text-decoration: none;
    background-color: #98d1e5;
}
.page section img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    border: 10px solid #157145;
    display: block;
    align-self: center;
}
.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 100%;
}
.text-content h4 {
    font-size: 1.4em;
    margin-bottom: 5px;
    margin: 5px;
    color: #157145;
    text-align: center;
    font-family: "Cormorant";
}
.text-content p {
    font-size: 1em;
    line-height: 1.4;
    margin-bottom: 5px;
    color: #157145;
    text-align: center;
    font-family: "Cormorant";
}
.page section a:hover p, .page section a:hover h4 {
    color: white;
}
.page section a:hover img {
    border-color: white;
}
footer {
    background-color: #157145;
    color: #98d1e5;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
footer a{
    text-decoration: none;
    color: #98d1e5;
}
footer p {
    font-size: 1em;
}
footer ul {
    list-style-type: none;
    text-decoration: none;
}
li {
    padding: 2px;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
.report {
    max-width: 900px;
    line-height: 1.7;
    text-align: center;
    margin: 0 auto !important;
}
.report_title {
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 0.5rem;
}
.section_title {
    font-size: 1.6em;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-bottom: 0.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
.answer {
    font-family: 'Courier New', Courier, monospace;
}
.site_link {
    margin-top: 1rem;
    font-weight: bold;
}
.site_link a {
    color: blue;
    text-decoration: none;
}
.site_link a:hover {
    text-decoration: underline;
}


